<section class="about-page">
  <h1>About the Creators</h1>
  <div class="creators">
    {{#each creators}}
      <div class="creator-card">
        <!-- Remove this bad tag: <alt="{{this.name}}"/> -->
        <!-- Optional image (if you have one): -->
        <!-- <img class="creator-img" src="/img/creators/{{this.slug}}.jpg" alt="{{this.name}}"> -->
        <h2>{{this.name}}</h2>
        <h4>{{this.role}}</h4>
        <p>{{this.bio}}</p>
      </div>
    {{/each}}
  </div>
</section>
